<script type="text/javascript">
    $('.carousel').carousel('next')
</script>
<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
<div id="myCarousel" class="carousel slide" style="border:2px solid #044d47">
                <div class="carousel-inner">
                  <div class="item active" style="">
                    <%= image_tag("gallas_karim.jpg")%>

                  </div>
                  <div  class="item" style="">
                  <%= image_tag("G1.jpg")%>

                  </div>
                  <div class="item" style="">
                  <%=image_tag("G3.jpg")%>

                  </div>
                  <div class="item" style="">
                    <%=image_tag("G.jpg")%>

                  </div>

                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <h2 style="color:#fff">Bienvenue</h2>
    <p style="text-align:justify">
      Bienvenue à tous et à toutes sur ce site qui a été conçu pour apporter un nouvel angle de vision dans l’analyse et la réflexion du mouridisme dans toutes ses composantes.
    </p>
    <p style="text-align:justify">
      En effet, il existe beaucoup d’espace pour expliquer et expliciter la voie du Mouridisme, qui est considérée comme une confrérie par la plupart d’entre nous. Mais cette perception   est très en de ça de la réalité. Le Mouridisme n’est qu’en réalité l’ISLAM tout court et l’a toujours était selon la pensée de son fondateur <span style="font-siez:1.3em">CHEIKH AHMADOU BAMBA</span>..
      <br/>
      Cependant, étant jeunes mourides imbus de valeurs comme la moralité, la justice, la recherche de la vérité ; nous nous appuyons sur l’enseignement du vénéré <span style="font-siez:1.3em">CHEIKH AHMADOU BAMBA</span>. pour faire de ce site un espace de rencontre comme dirait l’autre « un rendez-vous du donner et du recevoir... ».
      <br/>
      Certes, nous rétablirons la vérité sur l’historique, le développement et l’idéal du Mouridisme.
      <br/>
      Mais aussi Nous essayerons d’apporter des solutions et des explications aux questions du nouveau millénaire selon la vision du <span style="font-siez:1.3em">CHEIKH </span>., afin de montrer le rôle du Mouridisme face aux agressions culturelles et contemporaines.
      <br/>
      En outre, nous sommes preneur de vos suggestions et contributions à ce forum social et religieux, pour que tous ensemble nous partagions les valeurs essentielles que sont : la moralité, la solidarité, la tolérance vis-à-vis des uns des autres, pour bâtir un monde meilleur et faire perdurer l’idéal de paix social de notre vénéré <span style="font-siez:1.3em">CHEIKH AHMADOU BAMBA</span>.
      En réalité nous venons de DIEU et à lui nous retournerons...
    </p>
    <center style="font-siez:1.3em;">SERIGNE GALASS MBACKÉ SINDIDI (GUIDE SPIRITUEL)</center>.

      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> <h8>Serigne Gallas Mbacké</h8>
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> <h8>Serigne Abdoul Karim</h8>
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> <h8>Serigne Fallou</h8>
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <h2 style="color:#fff">Vidéos</h2>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Magal Touba 2013
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Tiant Parcelles 2013
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Discour Magal Touba 2013
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>


<div class="span3 well sidebar-nav"  style="background-color:#7eb9f6; border:none;">
	<div class="well" style="padding: 0px 0; background-color:#7eb9f6;">
        <ul class="thumbnails">
        <li class="span">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("gallas2_g.jpg"), root_path%>
          </a>
        </li>
      </ul>
  </div><!-- /well -->

  <div class="well" style="padding: 0px 0; background-color:#7eb9f6;">
        <ul class="thumbnails">
        <li class="span">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("gallas2_g.jpg"), root_path%>
          </a>
        </li>
      </ul>
  </div><!-- /well -->


</div>
