<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
    <h2 style="color:#fff">Serigne Abdou Karim Mbacké</h2>

      <h2 style="color:#fff">Images</h2>
      
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké 
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>
        
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        
      </ul>
      <h2 style="color:#fff">Vidéos</h2>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Magal Touba 2013
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>
        
        <li class="span4">
          <a href="#" class="thumbnail"> Tiant Parcelles 2013
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Discour Magal Touba 2013
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>
        
      </ul>    
</div>
