<div class="span3 well sidebar-nav"  style="background-color:#7eb9f6; border:none;">
  <div class="well" style="padding: 8px 0;background-color:#7eb9f6;margin-top:40px " >
        <ul class="nav nav-list" style="font-size:1.1em; ">
            <li class="active"><a href="#"><i class="icon-white icon-home"></i>Serigne Touba</a></li>
          <li><%=link_to raw("<i class='icon-'></i> Biographie Serigne Touba"), serigne_touba_index_path%>
         </li>
         <li><%=link_to raw("<i class='icon-'></i> Origines du Cheikh"), serigne_touba_origine_path%>
         </li>
         <li><%=link_to raw("<i class='icon-'></i> Fondation de la Mouridiyah"), serigne_touba_mouridiya_path%>
         </li>
         <li><%=link_to raw("<i class='icon-'></i> Fondation de Touba"), serigne_touba_touba_path%>
         </li>
         <li><%=link_to raw("<i class='icon-h'></i> Hostilités avec les Colons"), serigne_touba_hostilites_colons_path%>
         </li>
         <li><%=link_to raw("<i class='icon-'></i> L'étape de Jewol"), serigne_touba_jewol_path%>
         </li>
         <li><%=link_to raw("<i class='icon-'></i> Conseil Privé de Saint-Louis"), serigne_touba_jewol_path%>
         </li>
         <li><%=link_to raw("<i class='icon-'></i> L'Exil au Gabon"), serigne_touba_gabon_path%>
         </li>
          <li><%=link_to raw("<i class='icon-'></i> Le Retour d'Exil"), serigne_touba_retour_exil_path%>
         </li>
         <li><%=link_to raw("<i class='icon-'></i> Reprise des Hostilités"), serigne_touba_reprises_hostilites_path%>
         </li>
         <li><%=link_to raw("<i class='icon-'></i> Les Autres Exils"), serigne_touba_exil_path%>
         </li>

         <li><%=link_to raw("<i class='icon-'></i> L'Etape de Diourbel"), serigne_touba_etape_diourbel_path%>
         </li>

         <li><%=link_to raw("<i class='icon-'></i> Changement des Rapports "), serigne_touba_changement_rapports_path%>
         </li>

         <li><%=link_to raw("<i class='icon-'></i> La Disparition du Cheikh"), serigne_touba_disparition_path%>
         </li>



        </ul>
      </div> <!-- /well -->




</div>
