<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
    <h2 style="color:#fff">Changement des Rapports (1915)</h2>
<p style="text-align: justify;">

  <span style="font-family: georgia,palatino; font-size: 10pt;">Le célèbre rapport de l'Administrateur de Diourbel sur Cheikh Ahmadou BAMBA, tiré de deux années d'observation de sa vie quotidienne, allait marquer un changement notable d'attitude des autorités coloniales vis-à-vis du saint homme dès 1915. Ainsi, dans un souci d'encourager l'établissement de nouvelles relations avec le Cheikh mais aussi dans leur stratégie de canaliser ou au besoin de se servir de l'Islam, les colonisateurs décidèrent de nommer Cheikh Ahmadou BAMBA membre du Comité Consultatif des Affaires Musulmanes de l'A.O.F. (Afrique Occidentale Française) aux réunions duquel celui-ci ne daigna jamais d'ailleurs participer.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Il fut décidé, dans cette même optique de la classique récupération religieuse, l'élévation d'Ahmadou BAMBA à la Légion d'Honneur, dont il reçut le diplôme tout en refusant le port de l'emblème dont l'effigie en forme de croix ne lui sembla pas convenir à un musulman et du fait aussi qu'il jugeait inopportun de se parer de ce qu'il qualifia de "vain honneur de la terre".</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Par ailleurs, l'autorisation de construire un sanctuaire accordée, la première mosquée en dur construite par la communauté mouride fut érigée à Diourbel au cours de ces années. Mais malgré ses demandes insistantes, les colonisateurs ne consentirent jamais à laisser le Cheikh revoir sa ville de Touba vers laquelle n'avaient jamais cessé pourtant de tendre ses aspirations.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Bientôt cependant, en 1925, sera officiellement formulée la demande d'autorisation de construire une mosquée à Touba. Après avoir un peu traîné du fait de certaines réticences, l'aval de l'Administration saint-louisienne fut obtenu le 30 avril 1926. Le premier architecte occidental qui offrit ses services s'avérant très vite être d'un affairisme malhonnête, le choix se porta finalement sur M. TALLERIE, l'Administrateur du Cercle de Thiès. Celui-ci, en imposant des conditions financières scandaleuses à la communauté mouride, se retrouvera très vite en butte à l'Administration Publique qui, lui reprochant sa déloyauté et son opportunisme, dénonça l'accord conclu et retarda les travaux de préparation de terrain qui avaient déjà débuté.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">C'est dans ce contexte que devait s'éteindre, le mardi 19 juillet 1927 à Diourbel, le Fondateur de la Mouridiyah, le Serviteur Jamais Inégalé du Prophète de DIEU, à l'âge de 75 ans; ayant vécu un nombre d'années correspondant au nombre de versets de la sourate 39 "Les Groupes" dont les derniers versets traduisent l'Apothéose d'une existence agrée:</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">"Et ceux qui avaient craint leur SEIGNEUR seront conduits par groupes au Paradis. Puis, quand ils y parviendront et que ses portes s'ouvriront, ses gardiens leur diront: "La Paix soit sur vous! Vous avez été bons: entrez donc pour y demeurer éternellement". Et ils diront:"Louange à ALLAH qui nous tenu Sa Promesse à notre égard et nous a fait hériter le domaine du Paradis. Nous allons nous installer dans le Paradis là où nous voulons". Que la récompense de ceux qui font le bien est excellente!"...</span></p>




      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>


           <%= render :partial => 'menu' %>




