<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
    <h2 style="color:#fff">La Disparition du Cheikh (19 juillet 1927)</h2>
<p style="text-align: justify;">

  <span style="font-family: georgia,palatino; font-size: 10pt;">Le 19 du mois de Muharram de l'an 1346 de l'Hégire, correspondant au 19 juillet 1927, fut l'un des jours les plus tragiques de l'histoire de la Mouridiyah en ce sens qu'il fut marqué par le saisissement et la stupéfaction générale à l'annonce du décès de son Fondateur.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">En effet la disparition de celui-ci survint au cours de cette journée de mardi où le fils aîné et futur successeur du Cheikh, Serigne Mouhamadou Moustapha MBACKE et son oncle Cheikh Balla MBACKE découvrirent le saint homme étendu sur le sable d'une case de sa concession où il aimait à se retirer. Cheikh Moustapha fit alors montre de cette vertu de lucidité et de tempérance, qui allait d'ailleurs marquer son Califat, en organisant dans une discrétion absolue son inhumation à Touba, en conformité avec les voeux du disparu.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">L'Administration coloniale, peu encline à cet ensevelissement à Touba susceptible de favoriser l'essor de la Mouridiyah en transférant son noyau hors de Diourbel, sembla dépassée par la précipitation des événements. Une fois mise au courant, elle intervint cependant en mettant sous scellés le patrimoine du défunt et en nommant une commission chargée de sa surveillance.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Le monde mouride, plongé dans une stupeur indescriptible, réagit cependant avec calme et dignité et, dès l'annonce de la nouvelle, se mit à confluer de tous horizons vers la tombe du saint homme. Ce fut, sans aucun doute, l'un des jours les plus déchirants de leur existence, l'épreuve la plus décisive et la plus douloureuse qu'eurent à vivre ces nobles coeurs qui devaient entièrement leur amour pour la Lumière de DIEU, leur goût du sacrifice pour Sa Cause, le sentiment d'avoir recouvré leur dignité d'homme au frêle homme de Touba qui, à présent, reposait au sud de Aynou Rahmati ("Puits de la Miséricorde").</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">A la consternation devait, pourtant, succéder le retour aux obligations qu'exigeaient la continuité de la Mission et la poursuite de la dynamique amorcée par cet être exceptionnel. Ainsi fut-il décidé par le Conseil de famille, moins d'une semaine après la disparition, la désignation de Cheikh Mouhamadou Moustapha, fils aîné du Cheikh, à la succession de son père.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Le Calife fut, en outre, chargé de la gestion des chantiers de la Mouridiyah dont le plus important était sans conteste celui de l'édification de la Mosquée de Touba sur le site où reposait son père.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ainsi s'initia, dès le 25 juillet 1927, une autre phase de l'histoire des mourides qui, derrière leur Calife et en dépit de vicissitudes et d'oppositions de toutes natures, démontreront que la puissance des idées, la conformité indéfectible à la Vérité et au Décret Divin, la Crainte Révérencielle, l'Amour Infini du Prophète de DIEU, la Proclamation de l'Unité Absolue de DIEU, la Détermination devant les épreuves endurées sur le Droit Chemin, que tout cela dépasse une existence terrestre limitée dans le temps et qu'ainsi et à cause de cela, comme l'attestera d'ailleurs l'Histoire,</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Cheikh Ahmadou BAMBA ne saurait jamais mourir...</span></p>


      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>


           <%= render :partial => 'menu' %>





