<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
    <h2 style="color:#fff">L'Etape de Diourbel (1912)</h2>

<p style="text-align: justify;">

  <span style="font-family: georgia,palatino; font-size: 10pt;">Cheikh Ahmadou BAMBA écrivit à propos de l'étape de Diourbel : "Les colons ont requis mon retour à Diourbel [avec de mauvais desseins]; mais s'ils s'avaient ce que recouvre ce retour, ils ne l'auraient certes pas sollicité".</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">C'est donc dire que le Cheikh n'était point sans réaliser que les véritables desseins de ses persécuteurs à travers son retour à Diourbel ne consistaient pas uniquement à mieux assurer la surveillance de ses faits et gestes mais aussi en une tentative d'aliénation et d'assimilation culturelle, à travers surtout l'enrôlement des jeunes mourides à l'école occidentale; car là où le glaive et la poudre ont échoué, ont souvent réussi la règle et la craie.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ainsi le nouveau péril, infiniment plus pernicieux, auquel la communauté mouride eut à faire face à Diourbel fut l'acculturation et le complexe d'infériorité contre lequel elle dut résister par, notamment, l'extension des daaras, la référence aux enseignements du Cheikh et d'autres aspects de la dynamique confrérique à même de préserver le tissu social et culturel.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">L'étape diourbelloise fut aussi placée sous le signe de la profusion littéraire du Cheikh dont les qasidas (odes) composés essentiellement, en ce temps, de Louanges à DIEU et de Prières sur le Prophète (PSL), donnaient aussi une idée de sa Station Suprême, de son Anéantissement en DIEU et d'autres Dons Prodigieux que la plume a du mal à décrire. Furent ainsi reçus à Diourbel des Croyants du monde entier venus boire à cette Source Inépuisable; des émissaires de l'Imam de Médine (la ville du Prophète (PSL) ), des saintes figures de l'Afrique Noire et Blanche, des gens de toutes conditions et de tous horizons se pressaient devant la porte du Cheikh dont les capacités à assumer les tâches que supposait une telle affluence en même temps que ses permanentes occupations cultuelles ne cessaient d'étonner.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ainsi nota t-on un resserrement de la surveillance dont il faisait l'objet; lors notamment de la nomination de l'Administrateur du Cercle de Diourbel entre 1913 et 1915, Antoine LASSELVES dont la persécution et les perquisitions inopinées dans la concession du Cheikh, lui ayant permis de bien observer celui-ci, finirent par transformer radicalement sa prévention envers l'homme de DIEU. Ceci au point qu'il rédigea, à la fin de sa mission en 1915, un des rapports les plus élogieux et les plus enflammés jamais destinés par un non-musulman à la personne du Cheikh; rapport qui préfigurait en fait la sensible métamorphose qu'allaient subir dans les années qui suivirent les relations de Cheikh Ahmadou BAMBA avec les autorités coloniales...</span></p>

      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>

         <%= render :partial => 'menu' %>



