<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
    <h2 style="color:#fff">Les Autres Exils (1903-1912)</h2>

<p style="text-align: justify;">

  <span style="font-family: georgia,palatino; font-size: 10pt;">Une fois prise, à l'issue de la séance historique du Conseil Privé de Saint-Louis, la décision de l'interner au Gabon, Cheikh Ahmadou BAMBA fut transféré à Dakar où il parvint au soir du jeudi 19 septembre 1895.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Installé chez un indigène du nom de Ibra Binta GUEYE, le Cheikh, alors à jeun, se vit aussitôt convoqué par le Gouverneur de Dakar dont le courroux, se déversant sur lui, l'obligea à passer la nuit dans une cellule infecte dont l'inhospitalité marqua si fortement le Cheikh qu'il écrivit plus tard: </span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> "Lorsque je songe à ce qui fut décidé, à ce Gouverneur et à ce cachot, me prend aussitôt l'envie de combattre par les armes; mais Celui qui éfface les péchés [le Prophète] m'en dissuade... "</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Cheikh Ahmadou BAMBA embarqua finalement le samedi 21 septembre 1895 à bord du paquebot "Ville de Pernambouc" sur lequel il aura à affronter d'autres épreuves dont: l'hostilité affichée de l'équipage, la ruée d'un taureau déchaîné vers sa sainte personne et dont il fut miraculeusement préservé etc.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Une fois aux îles, le Cheikh, selon ses propres dires mêmes, fut sujet à toutes sortes d'exactions et de brimades, et cela tout au long de ses séjours successifs dans la jungle de Mayumba, à Lambaréné et ailleurs.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">La moiteur, le grand nombre de maladies tropicales mais surtout la solitude caractérisant ces lieux firent aussi de ces années les plus éprouvantes de l'existence du Cheikh, isolement perceptible dans nombre de ses écrits où il exprime avec humilité tout son attachement, sa confiance et sa reconnaissance au TRES-MAJESTUEUX de même que sa résolution inébranlable à rester "l'esclave de DIEU et le Serviteur du Prophète (PSL) à demeure".</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">N'ayant pour témoins que les éléments, il eut cette poignante profession: "O Océan de Mayumba! témoigne que je suis l'esclave de [DIEU], Celui qui pardonne les péchés, et que je demeure le Serviteur du [Prophète] Elu! Témoigne, qu'en tant qu'ami intime du [Prophète], celui qui comble d'honneurs ses amis, je rejette toute forme d'association à DIEU et n'adore que Lui seul!"</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ces épreuves et d'autres privations que s'infligeait volontairement le Cheikh pour la FACE de DIEU eurent quelques fois pour spectateurs les habitants primitifs de ces contrées ou des indigènes originaires du Sénégal dont certains eurent à lui manifester leur estime ou même à lui faire allégeance. Le Cheikh aura aussi à faire la rencontre, durant l'Exil, de nombre de personnalités marquantes de cette époque, telles le futur premier député d'Afrique Noire Blaise DIAGNE, alors fonctionnaire des Douanes, son disciple et frère Mame Cheikh Anta MBACKE qui avait entreprit le périlleux voyage au Gabon.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Le Cheikh eut de même à entretenir une correspondance avec l'illustre résistant guinéen, l'Almamy Samory TOURE, déporté depuis 1899 à Njolé, au Gabon, où il trouvera d'ailleurs la mort le 2 juin 1900. Il est rapporté que le Cheikh effectua, lorsqu'il apprit la nouvelle, la prière des morts à son intention depuis Lambaréné, conformément à la Sunna Prophétique . L'ex-Bourba Jolof Samba Laobé Penda, exilé cinq mois après le Cheikh en raison, pour partie, des relations le liant à celui-ci, eut aussi à le retrouver au Gabon.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Cette période fut également marquée par l'abondance des Dons Mystiques Incommensurables procédant de DIEU, Faveurs </span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> Insignes se traduisant par une Elévation à des degrés spirituels inouïs et inédits que démontre la profusion littéraire des années dites " maritimes"; richesse le rangeant de facto parmi les auteurs les plus prolifiques, sinon le plus prolifique, du monde musulman. Ainsi aura t-il à répondre beaucoup plus tard à son fils Cheikh Muhammad-al-Bachir MBACKE qui le questionna un jour sur cette époque:</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> "[Au cours de cet exil] ma connaissance gnostique s'est accrue, mon arrivée à DIEU (wusûl) s'est confirmée, ma certitude a atteint de nouveaux degrés et j'ai obtenu des Grâces Infinies"...</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Au cours de cette période la jeune communauté mouride eut à affronter l'une des premières épreuves les plus pénibles de son histoire car, la déportation de son guide ayant entamé l'engagement de certains, il y eurent des désaffections contrastant singulièrement avec le regain d'assurance et de triomphalisme de leurs adversaires qui, excès d'acharnement et de cruauté, n'hésitaient pas à distiller des rumeurs sur la disparition de Cheikh Ahmadou BAMBA.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Mais regroupés autour de leurs principaux cheikhs désignés par Khadimou Rassoul à son départ: Mame Thierno Birahim assumant la direction des enseignements, Cheikh Ahmadou NDOUMBE préposé à la supervision des travaux champêtres, Cheikh Ibrahima FALL et d'autres figures emblématiques de la Muridiyah, les adeptes réussirent à préserver intacte leur foi en l'Inéluctabilité du Secours Divin et au triomphe de la Vérité sur l'erreur.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Par ailleurs les efforts que ne cessa de consentir le Cheikh Ibrahima FALL, resté à Saint-Louis, réussirent à convaincre le futur député CARPOT entre autres de la parfaite innocence de Cheikh Ahmadou BAMBA au point qu'il s'engagea à réhabiliter celui-ci à son élection. La chose faite, le Serviteur du Prophète put, par la Grâce de DIEU et Sa Volonté Bienveillante, rentrer au Sénégal le mardi 11 novembre 1902 à bord du navire "Ville de Maceïo", après un peu moins de huit années exil</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">L'on peut aisément imaginer l'extraordinaire effervescence qui accueillit au port de Dakar, puis dans le reste du pays le retour de "celui qui est revenu des contrées d'où l'on ne revient pas", grâce à la Seule Puissance de DIEU, qui n'a point, encore une fois, manqué à Sa Promesse de "secourir les Croyants"...</span></p>


      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>


           <%= render :partial => 'menu' %>
