<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
<h2 style="color:#fff">Biographie de Serigne Touba</h2>

<p style="text-align: justify;">
<span style="margin-right: 5px; float: left;"><%= image_tag("touba2.jpg", :width => 240, :height => 100)%></span>
  <span style="font-family: georgia,palatino; font-size: 10pt;">De son vrai nom Mouhamad ben Mouhamad ben Habîballâh , CHEIKH AHMADOU BAMBA nous parvint par la grâce de DIEU au mois de Muharram en l’an 1272 H. soit l’an 1855, à Mbacké, une localité située dans le Baol du Sénégal des royaumes. Fondé par son grand-père, le village porte le nom de la famille Mbacké dont la piété très connue leur valut une influence religieuse particulière, un respect et une vénération pour la FACE de DIEU.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Hommes de haute culture et d’une orthodoxie stricte dans l’assimilation des valeurs culturelles islamiques, ils firent du village de Mbacké un centre académique et une capitale spirituelle. Le père du CHEIKH , Mouhammad MBACKE, appelé Momar Anta Saly, était un éminent jurisconsulte, un dévot qui enseignait le CORAN et les sciences religieuses ; sa mère , Mariama Bousso, grâce à sa piété, sa vertu et son scrupule, eut le privilège de répondre au nom de "jâratu-l-lâh" (voisine de DIEU) au milieu des siens.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Ses parents ont très tôt découvert en lui une perfection innée qui s’est traduite par des attitudes et habitudes de piété, de bonne conduite morale, de dévotion, de solitude, de méditation et un comportement exécrant l'amusement, l'indécence et le péché. Partout où Il passa durant son cursus, après avoir parfaitement assimilé le CORAN, que ce soit pour l'acquisition des sciences religieuses ou instrumentales comme la grammaire, la prosodie, la rhétorique, etc., on lui reconnut unanimement une Perfection Spirituelle qui ne pouvait que résulter d’ une lumière provenant de DIEU.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Jusqu’à l’an 1300 H. (1882) , Il assurait l’enseignement auprès de son père et sa carrure intellectuelle lui avait permis, dans le cadre des fonctions que celui-ci lui confiait, d’ écrire dans certains domaines des Sciences Religieuses et Instrumentales pour les rendre plus accessibles.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Il composa à cet effet le " Jawharu-n-Nafîs " (le Joyau Précieux) qui est une versification du traité de jurisprudence de Al Akhdari , le " Mawâhibul Quddûs " (les Dons du TRES-SAINT) qui est une reprise versifiée de l’ouvrage de théologie de l’ Imâm As-Sanusi intitulé "Ummul Barâhin" (la Source des Preuves), le "Jadhbatu-ç-çighâr" (L'Attirance des Adolescents) qui est un ouvrage traitant particulièrement des articles de la foi, le " Mulayyinu- ç-cudûr "(L’Adoucissement des cœurs ) qui reprend en versification le " Bidâyal Hidâya " (le Commencement de la Bonne Direction ) de l’Imâm Al Ghazâlî ; le Cheikh reprendra par la suite ce poème sous le titre de "Munawwiru-ç-cudûr" (l’Illumination des cœurs).</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">C’est un ouvrage qui traite du perfectionnement Spirituel. Plus tard, Il composera bien d’autres ouvrages dans les domaines de la Jurisprudence, de la Théologie, du Soufisme, de la Bonne éducation et dans d’autres branches comme la grammaire .</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">La vie du CHEIKH à partir de 1301H. (1883)L’an 1301 H. (1883), qui est le point de fracture le plus important de son Hagiographie, apportera, nous le verrons plus loin, de grandes mutations dans son itinéraire spirituel et du même coup, dans sa personnalité intellectuelle ; en gros, des changements qui ont reconverti entièrement sa plume au service du Prophète (Paix et Salut sur Lui), dans des thèmes tels que :&nbsp;&nbsp;&nbsp; la glorification de la venue du Prophète au monde ;</span></p>
<p style="text-align: justify;"><br><span style="font-family: georgia,palatino; font-size: 10pt;"> l’exaltation de l’Unicité de DIEU, dans le service du Meilleur des envoyés ;</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> le Combat Spirituel du Prophète ;</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> la plus grande victoire de la foi sur l’infidélité sous son égide (à Bedr) ;</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> la victoire de la soumission, en l’occurrence l’Islam, sur l’idolâtrie, en un mot, la Réhabilitation de l’Islam.Des panégyriques du Prophète qui embrassent ces thèmes essentiels et dont les genres et le génie littéraires reflètent les dons exceptionnels de l’ auteur parmi eux :LES PREMICES DES ELOGES (Muqaddamâtul Amdâh), L’Acrostiche du Verset "QUICONQUE OBEIT AU MESSAGER OBEIT (par là–même) A DIEU" (s.4 v.80), LES DONS DU PROFITABLE (Mawâhibu-n-Nâfic ) , "MIMIYA" une rime anonyme en "mîm", L’ATTIRANCE DES CŒURS (Jadhbul Qulûb).Le rappel de son père à DIEU, survenu une nuit de mardi du mois de muharram de l'an 1300 H. (1882) à Mbacké du Cayor, non seulement venait lui ôter la tutelle de celui à qui il obéissait religieusement, mais allait révéler sa vraie physionomie mystique et spirituelle. Le stade de dévotion à DIEU qu’il atteignit, malgré les hostilités que lui manifestaient les gens de son époque, démontre sans équivoque son appartenance au cercle "des hommes de DIEU".</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Il n’était l’esclave ni des futilités du bas-monde, ni de l’autorité coloniale dominatrice, ni de celle des chefs païens de la vieille aristocratie locale.Cette attitude d’un Homme esseulé, dénonçant l’arbitraire et la corruption d’où qu'ils vinssent et ne reconnaissant que la seule Autorité du MAITRE des mondes, allait marquer sa vie. C’est ainsi qu'en réponse aux dignitaires qui, à la suite de l’oraison funèbre de son père, lui suggérèrent d'accepter d’occuper la fonction de conseiller du roi, il déclina cette offre du bénéfice de l’obligeance des sultans et écrivit :&nbsp;&nbsp;&nbsp; "Penche vers les portes des sultans –m'ont-ils dit– afin d'obtenir des dons qui te suffiraient pour toujours".</span></p>
<p style="text-align: justify;"><br><span style="font-family: georgia,palatino; font-size: 10pt;"> "DIEU me suffit –ai-je répondu– et je me contente de LUI, et rien ne me satisfait si ce n'est la Religion et la Science".</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> "Je ne crains que mon ROI et ne porte mes espoirs qu'en LUI, car IL me protège et m'enrichit"</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> "Comment disposerais-je d'ailleurs ma destinée entre les mains de ceux-là qui sont incapables de régler leur sort ?"C’était là un double défi lancé à la fois aux sultans à qui le Cheikh rappelait leur servitude vis-à-vis de Leur SEIGNEUR ALLAH et à l’élite de l’orthodoxie musulmane dont Il dénonçait la complaisance. Quant aux grands maîtres de gnose de son époque, animés du dessein de l’éprouver, ils ne tardèrent pas à découvrir leurs lacunes, sans toutefois arriver à sonder les profondeurs de sa spiritualité .Ses confrontations avec l’administration coloniale représentaient cependant l’un des aspects les plus importants de son Hagiographie.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Au début du 19 ème siècle, les exigences de l’ industrialisation (recherche de matières premières et de marchés) et la volonté impérialiste de l’Europe, ayant abouti à la colonisation ont dicté à la France une Politique de conquête territoriale à partir des anciens comptoirs commerciaux. Cette politique expansionniste rencontra au Sénégal de farouches résistances, tant du côté des chefs musulmans que de celui des thiédos (guerriers de l'aristocratie).Mais en 1891, la conquête territoriale fut achevée dans un constat d'échec retentissant de toute la résistance armée au Sénégal . C'est alors que la France entreprit d’assimiler la colonie du Sénégal aux valeurs culturelles occidentales et, pour y réussir, elle proposa sa religion et la suppression pure et simple ou, à défaut, la corruption du culte exclusif rendu à DIEU.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Elle mena alors un combat sans précédent, allant de l’éloignement (internement) au bannissement et à la déportation des guides spirituels, pour démobiliser les fidèles .Son (le Cheikh) aspiration profonde à DIEU et son amour ardent envers l’Elu de DIEU furent tels que DIEU lui révéla DIEU, selon son expression, et devant la splendeur de Sa GRANDEUR, Il entreprit d’être fidèle au Pacte primordial de soumission à [DIEU] ; alors, DIEU lui indiqua le Prophète (Paix et Salut sur Lui) qui est le guide de la voie de la soumission.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Lorsqu'en 1301 H. (1883) l’Elu lui parvint, il conclut avec lui le Pacte d’Allégeance, pour la FACE de DIEU, et ce dernier lui ordonna d’engager ses disciples dans cette voie. Le Mouridisme était né. Ce fut à Mbacké Cayor.Ainsi le culte exclusif qu'il professait devenait public, car il commença à l’inculquer à ses disciples; c’est pourquoi il devint l’ennemi numéro un du pouvoir colonial.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Non seulement les foules affluaient vers lui, mais il fonda la Ville de TOUBA pour mieux servir avec elles la cause de DIEU.Dans son ardeur spirituelle, il voulut accéder au rang des compagnons, serviteurs du Prophète, qui ont combattu à Bedr.Ce "degré suprême" [CORAN S.9 V.20] dont parle le CORAN à l’endroit des compagnons, est obtenu par le sacrifice du sang versé en vue d’élever la voix de DIEU.Et l’abrogation de la prescription du sang versé, à cause du Pacte d’Allégeance, devait mener le Cheikh dans la voie du combat spirituel qui est celle du sacrifice de l’âme et des biens pour la cause de DIEU, dans le respect du sang des autres .</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">En 1312 H. (1895), dans sa retraite spirituelle (Ictikâf), le Prophète lui signifia que le sang versé était abrogé et le prix qui fait accéder à ce rang est une somme d’épreuves trop lourdes à la charge exclusive du postulant. Le pacte fut conclu et le Décret DIVIN le mit en confrontation avec ses ennemis contemporains pendant plus de trente deux ans durant lesquels il brava les exils, les brimades, les persécutions et les bannissements, pour se raffermir dans la profession de l’Unicité de DIEU, ne reconnaissant qu’un Seul Maître, DIEU et DIEU exclusivement. Il en sortit auréolé de succès.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Et de ce combat, il impétra le rang de SERVITEUR PRIVILEGIE du PROPHETE.Autant le pouvoir infidèle voulut, à travers l’exil au Gabon, en Mauritanie, les persécutions, les résidences surveillées à Thiéyène et à Diourbel, corrompre la foi musulmane, autant le Cheikh, dans son mystère inviolable et son indépendance dans le culte rendu à DIEU, a réhabilité l’Islam dans sa forme la plus authentique.Partout dans le pays, le Cheikh a revigoré la foi musulmane, redonné aux populations, sans la contrepartie de leur sang, de leur dignité et de leur personnalité.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Il a de surcroît introduit le plus naturellement dans les mœurs, la soumission exclusive à DIEU et non à une quelconque autre autorité. Ainsi, la Communauté musulmane retrouvait son âme .A partir donc de l’année 1313 H. (1895), l’étape du combat contre l’infidélité fut marquée par une production inestimable de panégyriques envers l’Elu le plus pur (Al Muçtafâ), le Choisi le Meilleur (Al Mukthâr), des écrits d’action de grâce envers DIEU et son Prophète(Paix et Salut sur Lui), de Sagesses, d’Hagiographie, d’Oraisons initiatiques, incantatoires et mystiques.</span></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">En 1346 H. (1927), DIEU exauça ses vœux en le favorisant d’un séjour terrestre équivalent au nombre de versets de la sourate "les Groupes" (sûratu-z-Zumar) dont l’issue [le soixante douzième verset] est la récompense d’une vie entière dévouée à DIEU :"Ceux qui auront craint leur SEIGNEUR seront conduits par groupes vers le Paradis. Lorsqu'ils seront en vue des portes, celles-ci s'ouvriront toutes grandes, les préposés leur diront : "Que la Paix vous suive ! vous avez été si vertueux , si purs. Entrez en cette Demeure pour un séjour éternel". Les voix des bienheureux s’ élèveront en chœur : "LOUANGE A DIEU !".</span></p>



      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>


           <%= render :partial => 'menu' %>




</div>


