<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
<h2 style="color:#fff">L'étape Jewol(10 août 1895)</h2>
<p style="text-align: justify;">
  <span style="margin-right: 5px; float: left;"><%= image_tag("touba2.jpg", :width => 240, :height => 100)%></span>
  <span style="font-family: georgia,palatino; font-size: 10pt;">Suite aux campagnes calomnieuses à l'endroit de Cheikh Ahmadou BAMBA, le Commandant LECLERC, Administrateur du Cercle de Saint-Louis, avait adressé en juillet 1895 une alarmante correspondance à ses supérieurs. Le Gouverneur Général par intérim du Sénégal et Dépendances, M. MOUTTET, expédia alors à Mbacké-Bâri une lettre de convocation au Cheikh qui, empêché, se contenta de déléguer son frère et bras droit Mame Thierno Birahim au dit Gouverneur qui interpréta ce geste comme un affront et un défi à son autorité.</span><br /><br /><span style="font-family: georgia,palatino; font-size: 10pt;">Ainsi l'Administrateur LECLERC fut-il chargé, à la tête d'une importante troupe composée essentiellement de gardes et de cavaliers dirigés par des chefs indigènes, de s'acheminer vers Mbacké-Bâri aux fins de contraindre par la force le Saint homme à se rendre à ladite convocation. Informé, Cheikh Ahmadou BAMBA dut mander une seconde fois le Cheikh Ibrahim dans le but de dissiper le malentendu. Mais face à la détermination d'en découdre qu'afficha l'Administrateur, l'émissaire du cheikh dut informer celui-ci de l'échec de sa mission; ce à quoi, Cheikh Ahmadou BAMBA, devinant la trame de la Volonté Transcendante, qui seule pouvait présider à ces événements, confia les siens à la Grâce de DIEU et partit à la rencontre de ses ennemis.</span><br /><br /><span style="font-family: georgia,palatino; font-size: 10pt;">C'est ainsi qu'il retrouva le plénipotentiaire du Gouverneur dans la localité de Jéwol dans l'après-midi du samedi 10 août 1895. Ce jour de 18 du mois de safar 1313 de l'Hégire constituera, plus tard, celui de la célébration du grand Magal de Touba, car cette épreuve préfigurait déjà aux yeux du Cheikh le Succès et les Avantages Inestimables que le TOUT-PUISSANT Dissimulait dans le Service qu'il comptait effectuer pour le Meilleur des humains (PSL).</span><br /><br /><span style="font-family: georgia,palatino; font-size: 10pt;">Ayant ainsi passé la nuit à Jéwol, le saint homme reprit, en bonne escorte, son périple le matin du dimanche, fit une escale dans le village de Kokki d'où il s'achemina de nuit vers Louga. De cette localité, il prit, le lundi 12 août, le train pour Saint-Louis qu'il atteignit au crépuscule et où il restera pendant les 10 jours restants du mois de safar et presque tout le mois de Rabi'u-l-Awwal.</span><br /><br /><span style="font-family: georgia,palatino; font-size: 10pt;">Le Serviteur du Prophète aura à subir sur cette île nombre d'épreuves de la part de ses persécuteurs dont la plus injuste restera sans doute la décision de l'exiler vers les contrées hostiles de l'Afrique Equatoriale. Mais ceux-là qui le bannirent et tentèrent de l'avilir à jamais ne savaient certes pas que le TOUT-PUISSANT s'était LUI-MÊME Prescrit, de toute éternité, le Devoir de Secourir Ses Amis; et où qu'ils puissent se trouver...</span></p>




      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>

           <%= render :partial => 'menu' %>
