<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
    <h2 style="color:#fff">La Fondation de la Mouridiyah (1882 83)</h2>
<p style="text-align: justify;">

  <span style="font-family: georgia,palatino; font-size: 10pt;">Entièrement assujettie au saint devoir de la piété filiale, la forte personnalité de Cheikh Ahmadou BAMBA n'avait, jusqu'à la disparition de son père, jamais eu la latitude nécessaire à sa pleine expression. Mais les événements immédiatement postérieurs à l'inhumation même de Momar Anta Sali n'allaient pas tarder à révéler sa véritable physionomie spirituelle en consacrant l'originalité de sa démarche et sa prééminence incontestable sur ses contemporains.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">En effet, un premier incident majeur survint, juste après la cérémonie mortuaire, lorsqu'il fut question de préposer le jeune Cheikh à la succession de son père pour les charges de conseiller du roi.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Déclinant catégoriquement et publiquement cette offre, il eut ces propos qui semèrent le désarroi dans l'assistance: "Je n'ai pas l'habitude de fréquenter les monarques. Je ne nourris aucune ambition à l'égard de leurs richesses et ne recherche des honneurs qu'auprès du SEIGNEUR SUPREME (...) J'aurais honte que les Anges me voient aller chez un autre roi que DIEU".</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Il composera par la suite, en guise de réponse aux dignitaires et à ses détracteurs, une ode devenue célèbre:</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> " Penche vers les portes des rois, m'ont-ils dit, afin d'obtenir des biens qui te suffiraient pour toujours.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">DIEU me suffit, ai-je répondu, et je me contente de LUI et rien ne me satisfait si ce n'est la Religion et la Science.</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> Je ne crains que mon ROI et n'espère qu'en LUI car c'est LUI, le MAJESTUEUX, qui m'enrichit et me sauve.</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> Comment disposerais-je mes affaires entre les mains de ceux-là qui ne sont même pas capables de gérer leurs propres affaires à l'instar des plus démunis?</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Et comment la convoitise des richesses m'inciterait-elle à fréquenter ceux dont les palais sont les jardins de Satan?</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> Au contraire, si je suis attristé ou éprouve un quelconque besoin, je n'invoque que le Propriétaire du Trône [qu'est DIEU].</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> Car IL Demeure l'Assistant, le Détenteur de la Puissance Infinie qui crée comme IL veut tout ce qu'IL veut.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">S'IL veut hâter une affaire, celle-ci arrivera prestement mais s'IL veut l'ajourner, elle s'attardera un moment.</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> O toi qui blâmes! N'exagère pas dans ton dénigrement et cesse de me blâmer! Car mon abandon des futilités de cette vie ne m'attriste point...</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> Si mon seul défaut est ma renonciation aux biens des rois, c'est là un précieux défaut dont je ne rougis point!"</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ce double défi lancé à la fois aux souverains, à qui le Cheikh rappelait leur servitude vis-à-vis du ROI des rois qu'est le TOUT-PUISSANT, puis à l'élite de l'orthodoxie musulmane dont il dénonçait la complaisance et la compromission, constitua en fait les premières prémices significatives des vives hostilités que n'allait pas tarder de susciter son intransigeance..</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">En effet devaient, dès lors, se révéler un cercle limité de partisans, parmi les véridiques, frappés par sa Pureté et sa Crainte Révérencielle alors que la majorité de ses contemporains et parents conçurent dès lors une forte défiance à son endroit. L'incompréhension dont il fut victime lui valut en ce temps nombre de vexations et de brimades auxquelles Cheikh Ahmadou BAMBA répondait invariablement par la patience et la bienveillance.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Cette époque fut aussi marquée par l'errance du Cheikh à travers les contrées inhospitalières du Sénégal et de la Mauritanie, à la quête de science ou à la rencontre des pieuses gens auxquelles il témoignait une vive admiration se traduisant par les divers services qu'il ne manquait jamais de leur rendre. Il eut à utiliser successivement en ce temps le wird de la Qadria transmis par son père, celui provenant de Abû al-Hassan Al-Shâdhilî (1197-1256) pendant huit ans et le wird de Cheikh Ahmed Tidjane (m. 1815) pendant huit ans ou plus.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Cette bonne disposition du Cheikh envers toutes les voies spirituelles accréditées atteste un esprit d'ouverture, de tolérance et de respect des Grands Maîtres qui ne se démentira jamais malgré les innombrables tentatives de dissension des ignorants ou des ennemis comme il eut à l'écrire dans ses Itinéraires du Paradis: "Tous les wirds mènent directement l'aspirant spirituel vers l'Enceinte Scellée de DIEU, peu importe qu'ils émanent de A. Qadir Jilâni, de Ahmad Tijâni ou d'une autre Eminence spirituelle"...</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">A ce stade de la quête auprès des Maîtres Illustres allait plus tard succéder l'instruction spirituelle directe auprès du Messager de DIEU en personne, le Prophète Muhammad (PSL) en dehors duquel il lui fut désormais interdit de rechercher un guide. Le Cheikh prit dès lors le Coran comme wird et s'engagea au Service (Khidmah) de son seul Maître, le Prophète (PSL). Ensuite, obtempérant à l'Ordre Divin l'enjoignant de proclamer les Avantages lui provenant de DIEU, il invita ceux de ses contemporains aspirant à s'engager dans la Voie à le suivre.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Les principes de sa tarbiyya (éducation spirituelle), reposant essentiellement sur la connaissance de la profonde physiognomonie du postulant, permettait au cheikh de choisir la méthode la mieux adaptée aux aptitudes du disciple: éducation livresque et éducation spirituelle. Ainsi le Cheikh eut-il à éduquer par le verbe, en incitant par la Sagesse (Hikam) et l'Avertissement (Intizar) vers l'ascèse et la perfection spirituelle, à prêcher par l'exemple la stricte observance des Prescriptions Divines, l'abandon absolu de Ses Proscriptions, l'évocation du Nom de DIEU (Dhikr) et la détermination dans le service (Khidmah) rendu aux créatures pour la FACE de leur CREATEUR.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Sa renommée ne tardant pas à s'étendre du fait de ses vertus charismatiques et des lumières dont irradiaient ses aspirants, l'affluence chez lui prit alors des proportions impressionnantes. Ainsi put-on compter parmi ses disciples, dans ses daaras (écoles) de Mbacké Cayor et d'ailleurs, nombres de figures éminentes de la noblesse céddo mais aussi des érudits et des hommes de DIEU émerveillé par ses dons: Cheikh Adama GUEYE, Cheikh Ibrahima FALL, Cheikh Issa DIENE, Cheikh Ibrahima SARR etc.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">La suspicion que fit bientôt naître un tel mouvement se traduisit par les persécutions dont firent très vite objet les novices mourides de la part des chefs locaux dont l'autorité se sentait menacée par leur latente insoumission et par l'hostilité affichée de certains maîtres spirituels dont la popularité du Cheikh semblait se conforter au prix de la désaffection des disciples.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ces oppositions conjuguées à d'autres circonstances historiques objectives allaient en fait constituer les prémices des futures épreuves que la main du Destin préparait déjà pour la jeune communauté mouride, vérifiant encore une fois la prédiction de Warrakha Ibn Nawfal annonçant au futur Messager de DIEU (PSL): "Nul n'a apporté ce que tu apportes sans avoir été persécuté"...</span></p>


      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>

         <%= render :partial => 'menu' %>





