<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
    <h2 style="color:#fff">Les Origines du Cheikh (1853-1883)</h2>
<p style="text-align: justify;">

  <span style="font-family: georgia,palatino; font-size: 10pt;">Le Serviteur du Prophète est né en l'an 1270 de l'Hégire (correspondant à 1853/54 du calendrier romain) dans le village de Mbacké Baol fondé en 1795, sur un don du Damel Amary Ngoné, par son aïeul Maharam MBACKE (mort en 1802). Cet ancêtre éponyme fut le père de Habîb Allah grand-père de Cheikh Ahmadou BAMBA en ce sens qu'il eut avec Sokhna Anta Sali un fils du nom de Muhammad MBACKE qui sera plus connu sous celui de "Momar Anta Sali".</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Suivant la tradition familiale qu'était l'enseignement du CORAN et des Sciences Religieuses, Momar Anta Sali, futur père de Cheikh Ahmadou BAMBA, dut entamer ses études dans les écoles du Ndiambour , notamment à Kokki sous l'autorité du Cheikh Massamba Anta DIOP descendant de l'illustre Mukhtâr Ndoumbé. A l'issue de sa formation littéraire, Muhammad MBACKE dut, pour parfaire ses connaissances théologiques, se rendre chez un autre Cheikh éminent du nom de Muhammad SALL, résidant au Saloum dans une localité nommée BAMBA qui sera d'ailleurs celui que portera le futur enfant de Momar Anta Sali.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Une fois ses études achevées, celui-ci rejoignit son village natal MBACKE où il se mit à l'enseignement; sa renommée de piété et d'érudition ne tardant pas à s'étendre, des disciples lui vinrent de partout. C'est dans ce contexte d'effervescence intellectuelle que naquit en 1853/54 le second enfant de Sokhna Mariama BOUSSO: Muhammad ibn Muhammad Ibn Habîb Allah que la Postérité connaîtra mieux sous le nom Cheikh Ahmadou BAMBA.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ayant grandit sous l'atmosphère de piété et de vertu dont irradiait sa mère, dénommée à ce titre "Jâratu-Lâh" (La Voisine de DIEU), le jeune enfant développa très tôt un sentiment religieux et une pureté morale ne pouvant s'expliquer que par une Faveur Divine particulière. Le jeune Ahmadou BAMBA fut envoyé plus tard au Jolof, chez l'oncle maternel de sa mère, le grand exégète du Coran Mbacké Ndoumbé, lorsque son père décida d'aller s'installer au village de Ndia-KANE où il avait ses racines maternelles et où il comptait poursuivre ses enseignements.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Il fallut cependant au Cheikh Momar Anta Sali émigrer, quelques années plus tard, au Saloum suivant l'ordre du conquérant religieux Maba Diakhou Ba (m. 1867) qui, pour éviter les risques de représailles des céddos sur les musulmans que faisait peser sa croisade religieuse contre les souverains du Jolof , déplaçait ses coreligionnaires vers le Sud.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Pendant ce temps, le jeune Ahmadou BAMBA, resté au Jolof et en âge d'entrer à l'école coranique, se fit enseigner une partie du Saint Livre par son grand-père Mbacké Ndoumbé. Il sera, par la suite, confié, à la disparition de celui-ci, à son oncle maternel, le grand érudit Muhammad BOUSSO chez qui il restera jusqu'au retour dans le Jolof du conquérant Maba Diakhou qui, ayant assujetti les souverains de la province, nomma cadi Muhammad BOUSSO avec qui il rentrera d'ailleurs au Saloum.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Entre-temps Cheikh Ahmadou BAMBA avait eu la douleur de perdre sa vertueuse mère, âgée tout juste d'une trentaine d'années, résidant alors dans le village de Porokhane (Saloum) où elle fut inhumée. Ayant retrouvé les siens, le jeune Ahmadou eut pendant les années suivantes l'occasion de côtoyer les "grands" de ce temps fréquentant alors la demeure de son père, mais aussi celle d'assister à des évènements dramatiques et à des bouleversements historiques majeurs qui achevèrent d'ancrer définitivement en lui l'idée d'insignifiance et de futilité de ce monde.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Son comportement marqué par la politesse envers les plus âgés, l'obéissance à son père, la bienveillance envers ses camarades d'études ne manquait certes pas également de frapper par son scrupule extrême, son attachement aux retraites, au silence, à la retenue, à tout ce qui, en un mot, préfigurait déjà l'extraordinaire ascèse qui, plus tard, déroutera tous les esprits. Aux avances émerveillées des Damels et autres personnalités, l'adolescent Ahmadou opposait invariablement un refus toujours poli mais net que son entourage jugeait inexplicable.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Sa supériorité intellectuelle se manifestait également par une incroyable rapidité d'acquisition des connaissances et une capacité de rétention hors du commun; aptitudes qui lui permirent d'achever assez vite l'apprentissage déjà entamé du Coran et d'assimiler l'essentiel des sciences religieuses. Cette carrure brillante jointe à une piété filiale jamais démentie, quelle que soit par ailleurs son hostilité aux relations entre les rois et son père, le faisait tendrement aimer de celui-ci qui lui prouva sa confiance en lui confiant nombre de charges relatives à l'enseignement et à la gestion de son domaine.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Le jeune Cheikh versifia, durant cette période, un grand nombre d'oeuvres théologiques léguées par les Vertueux Anciens et négligées par ses contemporains (couvrant des thèmes aussi variés que la Théologie (Tawhîd), les Règles Cultuelles (Fiqh), la Mystique Musulmane (Tacawuf)...) Il composa des odes d'invocation et des poèmes d'éducation spirituelle dont la qualité étonnait plus d'un homme de lettres à l'instar de son propre père même ou du célèbre cadi Madiakhaté Kala avec qui le Cheikh aura d'ailleurs à entretenir des joutes littéraires au cours desquelles le génie du fameux jurisconsulte aura à s'émerveiller de la maîtrise littéraire et de la profondeur de pensée de son précoce élève.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">En ce temps, le prince Lat-Dior (m. 1886), opposé à son cousin Madiodio FALL au sujet de la royauté du Cayor, fut chassé par les Français soutenant alors son rival et il dut se réfugier avec sa cour chez Maba où il embrassera d'ailleurs l'Islam. C'est au cours de cet exil que Lat-Dior eut à fréquenter Momar Anta Sali avec qui il ne tarda pas à se lier.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Quant à Maba Diakhou, conforté par ses conquêtes, il s'attaqua imprudemment au Sine dont l'armée le défit au cours d'une bataille au cours de laquelle il trouva la mort.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Peu de temps après, son rival destitué par les autorités françaises, le prince Lat-Dior fut appelé sur le trône du Cayor; il quitta alors le Saloum en compagnie du Cheikh Momar Anta Sali dont il avait sollicité l'assistance dans la gestion des affaires religieuses et dans la magistrature. Installé sur une terre dénommée Patar, Cheikh Ahmadou BAMBA vécut encore quelques années avec son père durant lesquelles sa personnalité intellectuelle, mystique et ascétique, déjà forte, se raffermit de par la grâce de DIEU et de Son Prophète (PSL ).</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Et ce jusqu'à ce que l'inéluctable destin vint arracher Momar Anta Sali, âgé de 61 ans, aux mains de son fils, âgé alors de 30 ans, à qui il confia à l'article de la mort, non seulement la gestion de sa maison, mais aussi le soin de prier pour le repos de son âme.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ainsi s'amorça, à partir de ce mardi 20 du mois de Muharram 1299 de l'Hégire (1882-1883 de l'an romain), l'étape décisive de l'existence hors du commun de celui que l'Histoire sera appelée à sacrer Serviteur Privilégié du Prophète de DIEU...</span></p>


      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>

           <%= render :partial => 'menu' %>





</div>





