<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
    <h2 style="color:#fff">Reprise des Hostilités (Juin 1903)</h2>
<p style="text-align: justify;">

  <span style="font-family: georgia,palatino; font-size: 10pt;">Suite aux effets psychologiques du retour d'Exil sur les indigènes et au sentiment d'exaltation des disciples mourides les poussant à récuser de plus en plus ouvertement l'autorité des chefs de cantons, les réactions ne se firent point attendre. Elles prirent cette fois la forme de calomnies plus graves que les précédentes attribuant notamment au Cheikh le dessein de garder des armes et des munitions dans ses demeures et d'être en train de préparer secrètement ses disciples à un soulèvement contre les colons.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Le Saint Personnage, installé dans le village de ses origines, à Mbacké Baol, fut dès lors l'objet d'une surveillance accrue des agents des autorités françaises chargés d'infiltrer le cercle de ses proches. C'est dans ce contexte tendu qu'il reçut une convocation de l'Administrateur du Cercle de Thiés l'invitant à se rendre chez lui et à laquelle le Serviteur du Prophète répondit le 4 mai 1903 qu'il "est le captif de DIEU et ne reconnaît d'autre maître en dehors de LUI et ne rend hommage qu'à LUI Seul".</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Mais loin de l'idée de provocation que se firent ses opposants, cette réponse du Cheikh n'était motivée que par son attachement au Pacte conclu avec son SEIGNEUR et qui lui interdisait d'entreprendre quoi que ce soit sans Son Autorisation. Parfaitement étranger à ces sortes de considérations et de plus en plus convaincu des desseins belliqueux du Cheikh que semblaient étayer, du moins son attitude, mais surtout la détermination impressionnante de ses disciples décidés à ne pas laisser une injustice se rééditer, le gouverneur par intérim MERLIN lui envoya, le 12 mai, une autre missive par le biais d'un émissaire provenant du Cheikh Sidya de Mauritanie.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">A la dernière lettre datée du 21 mai, apportée par l'interprète Fara Biram, l'engageant à se déplacer à Saint-Louis et à laquelle Cheikh Ahmadou BAMBA signifia son refus, il fut dépêché vers Mbacké le 10 juin 1903 un détachement de 150 tirailleurs et de 50 spahis surarmés, sous le commandement de l'Administrateur ALLYS, avec le secret dessein d'attenter à la vie du saint homme en cas d'échauffourée. En dépit de l'engagement indéfectible de ses milliers de suivants et de leurs appels déterminés à la résistance violente, Cheikh Ahmadou BAMBA eut en ce jour ces paroles d'or:</span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> "Je n'espère le soutien d'aucun ami, ni ne crains l'agression d'un ennemi; je me suis entièrement soumis à DIEU".</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ayant ainsi évité un bain de sang, le Serviteur du Prophète se constitua prisonnier et fut bientôt envoyé le 20 juin 1903 chez le Cheikh Sidya dont les bons offices et l'ascendance spirituelle que les colons lui croyait détenir sur le Cheikh présida sûrement à ce second exil en Mauritanie qui allait durer quatre longues années mouvementées...</span></p>



      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>

         <%= render :partial => 'menu' %>




