<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
<h2 style="color:#fff">Le Retour d'Exil (11 Novembre 1902)</h2>

<p style="text-align: justify;">

  Grâce notamment à la persévérance du Cheikh Ibrahima FALL, les autorités coloniales avaient accepté de rouvrir le dossier de Cheikh Ahmadou BAMBA alors en exil. Une fois prouvée la légèreté des allégations ayant présidé à son internement, le député CARPOT réussit à réhabiliter le Cheikh et à le faire revenir au Sénégal le 20 du mois de sha'ban 1320, c'est-à-dire le 11 novembre 1902, après un voyage de 14 jours sur le navire "Ville de Maceïo".<br><br>L'euphorie qui accueillit ce retour miraculeux fut indescriptible d'un bout à l'autre du pays. Le Cheikh partit d'abord pour Saint-Louis où il resta pendant quelques jours mémorables d'émotion, puis passa par Louga pour se rendre ensuite à Darou Salam où son frère et disciple Mame Cheikh Anta lui réserva des festivités inoubliables dignes d'un monarque.<br><br>Après un mois de séjour, le Serviteur du Prophète se déplaça à Darou-l-Manan et y resta quelques mois au cours desquels les hommes déferlèrent de tous horizons en vagues incessantes vers sa sainte personne. Celle-ci, imbue des Grâces Infinies procurées par le SEIGNEUR à travers les longues années d'épreuves solitaires, ne cessa en aucun moment de prodiguer les houles bienfaisantes de ses lumières sur les âmes et les coeurs, ni de combler les besogneux et les hommes de mérite de dons en toutes natures qui affluaient vers lui.<br><br>La jeune communauté mouride se raffermit et sembla ainsi accéder à la maturité, après les pénibles années d'adolescence de l'Exil. Face à ce prodigieux retournement du destin, le Mal n'allait pas tarder à mobiliser ses troupes et à tenter encore une fois de perdre le Saint Homme...</p>



      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>

           <%= render :partial => 'menu' %>




</div>




