<div class="span8 well sidebar-nav"  style="background-color:#7eb9f6; border:none">
    <h2 style="color:#fff">La Fondation de Touba (1887 88)</h2>
<p style="text-align: justify;">

  <span style="font-family: georgia,palatino; font-size: 10pt;">Pour fuir l'affluence des foules qui drainait vers lui sa renommée, et pour retrouver la solitude et le recueillement propices à l'adoration, le Cheikh avait quitté le village des ses ancêtres Mbacké Baol pour construire un peu plus à l'Est une maison retirée à Darou Salam. Trois ans plus tard, 1887-88, il fonda, à quelques kilomètres au nord de son village natal, le village de TOUBA, du nom d'un arbre du Paradis.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ce vocable Touba apparaît une fois dans le CORAN, au verset 29 de la sourate 13 (Le Tonnerre) où le TOUT PUISSANT dit: </span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> "Ceux qui croient et font de bonnes oeuvres, atteindront la Félicité (Touba) et un excellent Lieu de retour." </span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> On retrouve aussi ce mot très souvent dans la tradition Prophétique dont un hadith célèbre rapporté par Ibn Habân dit: </span><br><span style="font-family: georgia,palatino; font-size: 10pt;"> "Touba est un des arbres du Paradis. L'étendue de son ombre équivaut à une marche de cent ans et les vêtements des habitants du Paradis sortiront de ses fleurs."</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Le village qu'édifia le Cheikh à son nom se trouvait au milieu d'une contrée hostile, dépourvue d'eau où ne pouvait résider que celui qu'habitait la volonté de se détacher des hommes.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">Ceci explique pourquoi le Cheikh affirmait : "La raison pour laquelle TOUBA et Darou Salam me sont plus chers que les autres lieux que j'ai édifiés réside dans la sincérité de l'intention qui m'inspira l'idée de les fonder. Je n'y suis pas venu pour suivre les traces d'un ancêtre, ni pour chercher un site propice à la culture, ni pour découvrir un pâturage. Mais uniquement pour adorer DIEU l'Unique, avec Son Autorisation et Son Agrément".</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">C'est notamment à Touba, dans sa mosquée de Darou Khoudos, qu'il prêta allégeance au Prophète (PSL) dans le Service duquel il décida de se consacrer à travers ses Panégyriques, la réhabilitation et la revivification de ses Enseignements tels que révélés par le Coran et la Sunna (la Tradition Prophétique) etc.</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">L'attachement qu'éprouvait le Serviteur du Prophète envers ce lieu est par ailleurs démontrée par la place de choix qu'il occupe dans ses écrits. C'est ainsi qu'il écrivit: " L'Autorisation de fonder TOUBA m'a été donnée par le SEIGNEUR de l'Univers". Il invoquait aussi souvent DIEU d'assurer la Sauvegarde et l'Epanouissement de sa ville: "Fais de la cité bénite de Touba un lieu d'instruction, de connaissance et du respect de l'orthodoxie"</span><br><br><span style="font-family: georgia,palatino; font-size: 10pt;">La formidable expansion de la ville, surtout depuis les années 80, faisant d'elle actuellement la seconde ville du pays, et ses nombreuses particularités (spirituelles, urbaines etc.) semblent en tous cas attester que ce Haut-lieu constitue en fait un don inestimable du CREATEUR envers un de Ses Serviteurs Privilégiés...</span></p>


      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
      <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Gallas Mbacké
            <%=link_to image_tag("touba1.jpg"), root_path%>
          </a>
        </li>

        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Abdoul Karim
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail"> Serigne Fallou
            <%=link_to image_tag("touba2.jpg"), root_path%>
          </a>
        </li>

      </ul>
</div>

         <%= render :partial => 'menu' %>



